# Example ~/.aws/config file
# Remember 'Bash Magic Enviro' will only use your 'default' profile

# Please make sure this file is protected by tight permissions (i.e.: 0640)
[default]
aws_access_key_id = YOUR_AWS_ACCESSKEY_ID
aws_secret_access_key = YOUR_AWS_SECRET_ACCESS_KEY_XXXXXXXXXXXXX
mfa_serial = arn:aws:iam::ACCOUNT_ID:mfa/account.name
