# To be sourced by Bash sessions

# You can uncomment this below for a trace that this file is indeed sourced
# echo "HELLO FROM .bme_includes"

# Adds user's bin dir to path, if it exists -it better should, or else Bash Magic Enviro won't work ;^)
# Thanks to https://stackoverflow.com/questions/1396066/detect-if-path-has-a-specific-directory-entry-in-it
if ! [[ ":${PATH}:" == *":${HOME}/bin:"* ]]; then
	if [ -d "${HOME}/bin" ] ; then
		export PATH="${HOME}/bin:${PATH}"
	else
		echo "Please create '${HOME}/bin' for BME to work properly."
	fi
fi

# Checks BME dependencies on macos and sets PATH accodingly
macos_dependencies() {
local updated_path="${PATH}"
local updated_manpath="${MANTPATH}"
local gnu_packages=(
	'coreutils'
	'findutils'
	'grep'
	'gnu-sed'
)

	for gnu_package in ${gnu_packages[@]}; do
		if [ -d "/usr/local/opt/${gnu_package}" ]; then
			updated_path="/usr/local/opt/${gnu_package}/libexec/gnubin:${updated_path}"
			updated_manpath="/usr/local/opt/${i}/libexec/gnuman:${updated_manpath}"
		else
			local warn_msg="WARNING: while trying to set \$PATH for '${gnu_package}':\n"
			warn_msg+="\tdirectory '/usr/local/opt/${gnu_package}' couldn't be found.\n"
			warn_msg+="\tdid you 'brew install ${gnu_package}'?"
			echo -e "${warn_msg}"
			return 1
		fi
	done

# Final exports
	export PATH="${updated_path}"
	export MANPATH="${updated_manpath}"
}


# In case you are taking advantage of the 'python3-virtualenvs' module...
# NOTE: The path to 'virtualenvwrapper.sh' will depend on the way you install it,
# so make sure you substitute the path below with the proper one for your system.
# if [ -r /usr/share/virtualenvwrapper/virtualenvwrapper.sh ]; then
# 	source /usr/share/virtualenvwrapper/virtualenvwrapper.sh
# fi

# Loads secrets (if it exits)
# Make sure you protect this file with proper permissions
if [ -r ~/.secrets ]; then
	source  ~/.secrets
if

# Sets BME dependencies
macos_dependencies && unset -f macos_dependencies || return  $?

# Activates BME
if ! source bash-magic-enviro; then
	echo "Please make sure 'bash-magic-enviro' is installed and in your path!"
	return 1
else
	# By the "export" below, the function 'bme_eval_dir()' is run every time we change directories
	# Then, it's a matter of what you include within the '.bme_*' files on each dir.
	export PROMPT_COMMAND=bme_eval_dir
fi
