# To be sourced by Bash sessions

# Personal secrets and other variables
# Make sure this file is protected by restrictive permissions!

# Your AWS multifactor authentication device
# (required if you use the 'aws-support' module)
#export AWS_MFA=arn:aws:iam::NNNNNNNNNNNN:mfa/your.user
# (...) other "secrets" you may need to export come here

# Adds user's bin dir to path, if it exists -it better should, or else Bash Magic Enviro won't work ;^)
if [ -d ~/bin ]; then
	PATH=~/bin:$PATH
fi

# In case you are taking advantage of the 'python3-virtualenvs' module...
# NOTE: The path to 'virtualenvwrapper.sh' will depend on the way you install it,
# so make sure you substitute the path below with the proper one for your system.
# if [ -r /usr/share/virtualenvwrapper/virtualenvwrapper.sh ]; then
# 	source /usr/share/virtualenvwrapper/virtualenvwrapper.sh
# fi

# By the "export" below, the function 'bme_eval_dir()' is run every time we change directories
# Then, it's a matter of what you include within the '.bme_*' files on each dir.
if ! source bash-magic-enviro; then
	echo "Please make sure 'bash-magic-enviro' is installed and in your path!"
	return -1
else
	export PROMPT_COMMAND=bme_eval_dir
fi
