# To be sourced by Bash sessions

# Personal secrets and other variables
# Make sure this file is protected by restrictive permissions!

# Adds user's bin to path, if it exists
if [ -d ~/bin ]; then
	PATH=~/bin:$PATH
fi

# By the "export" below, the function 'bme_eval_dir' is run every time we change directories
# Then, it's a matter of what you include within the '.bme_enviro' file of each directory
bme_eval_dir() {
	if [ "$PWD" != "$MYOLDPWD" ]; then
		MYOLDPWD="$PWD"
		test -e .bme_env && source .bme_env
	fi
}
export PROMPT_COMMAND=bme_eval_dir
