# Environment file to be loaded by Bash interactive shell
#
# Use this as a reference for your own '.bme_env' files

#---
# 'MAIN' .bme_env file at the root of your project
#---
# Uncomment and set your project name (must be unique)
#BME_PROJECT_NAME='my-project-name'

# Module activation (modules are disabled by default, so uncomment those you want to enable
BME_MODULES=(
# 	'bindir'  # adds project's bin/ dir to $PATH
)
